@model SCMS.Models.Shipment

<div class="modal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Shipment @Model.ShipmentNumber</h4>
            </div>
            <div class="modal-body">
                @Html.EditorFor(model => model, "EditShipment")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left delete" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary edit" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".edit").on("click", function () {
            var shipment = {'shipmentid': @Model.ShipmentID,'amount': $("#Amount").val()}
            var stringShipment = JSON.stringify(shipment);
            $.ajax(
            {
                url: '/GM_POC/EditShipment',
                type: 'POST',
                dataType: 'json',
                data: {jsonShipment: stringShipment},
                success: function (result) {
                    var success = result.success;
                },
                complete: function () {
                    ganttLoader();
                },
                error: function () { alert("error"); } //should change div element html and ask the user to refresh
            });
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".delete").on("click", function () {
            var id = @Model.ShipmentID;
            $.ajax(
            {
                url: '/GM_POC/DeleteShipment',
                type: 'POST',
                dataType: 'json',
                data: {ShipmentID: id},
                success: function (result) {

                    var success = result.success;
                    var tonsLeft = result.tonsLeft;
                    var reload = result.fullReload;

                    if(success != -1)
                    {
                        var shipmentDiv = $('.shipment');

                        shipmentDiv.find('.departure').val("");
                        shipmentDiv.find('.arrival').val("");
                        shipmentDiv.find('.amount').val(tonsLeft);
                    }
                    else
                    {
                        //Do something to signal the error in database, like inserting some html
                        //somewhere
                    }

                    if(reload)
                    {
                        location.reload();
                    }
                },
                complete: function () {
                    ganttLoader();
                },
                error: function () { alert("error"); } //should change div element html and ask the user to refresh
            });
        });
    });
</script>