@model SCMS.ViewModels.GM_POC.CreateEditPOCViewModel

@{
    ViewBag.Title = "CreatePOC";
    Layout = "~/Views/Shared/_LayoutGM.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="block span8">
            @Html.EditorFor(model => model, "CreateEditPOC")
        </div>
    </div>
</div>
