@model SCMS.RSolverTools.AlertItem

@{
    if(Model != null)
    {
        <div class="alert alert-@Model.StringType alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>@Model.Message</strong>
        </div>
    }
}