@model SCMS.ViewModels.SCM_Inbox.ListPOCViewModel

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_LayoutSCM.cshtml";
}

<div class="header">
    <h1 class="page-title">Inbox (SCM)</h1>
</div>
@if (Model.tablesHelper.Count != 0)
{
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#poc" role="tab" data-toggle="tab">POC</a></li>
    <li><a href="#shipment" role="tab" data-toggle="tab">Shipment</a></li>
    <li><a href="#bl" role="tab" data-toggle="tab">BL</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="poc">
        <div class="container-fluid">
            <div class="row-fluid">
                @Html.DisplayFor(model => model.tablesHelper, "ListPOC")
            </div>
        </div>
    </div>
    <div class="tab-pane " id="shipment">
        <div class="container-fluid">
            <div class="row-fluid">
                @Html.DisplayFor(model => model.tablesHelper, "ListShipment")
            </div>
        </div>
    </div>
    <div class="tab-pane " id="bl">
        <div class="container-fluid">
            <div class="row-fluid">
                @*@Html.DisplayFor(model => model.tablesHelper, "ListPOC")*@
            </div>
        </div>
    </div>
</div>
}
else
{
    @Html.DisplayFor(model => Model.alert)
    
}