@model SCMS.ViewModels.SCM_Inbox.ListPOCViewModel

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_LayoutSCM.cshtml";
}

<div class="header">
    <h1 class="page-title">Inbox (SCM)</h1>
</div>
@if (Model.tablesHelper.Count != 0)
{

<div class="container-fluid">
    <div class="row-fluid">
        @Html.DisplayFor(model => model.tablesHelper, "ListPOC")
    </div>
</div>

}
else {
    @Html.DisplayFor(model => Model.alert)
    
}