@model SCMS.ViewModels.GM_Inbox.ListPOCViewModel

@{
    ViewBag.Title = "Inbox";
}

<div class="header">
    <h1 class="page-title">Inbox (GM)</h1>
</div>
@if (Model.tablesHelper.Count != 0)
{

<div class="container-fluid">
    <div class="row-fluid">
        @Html.DisplayFor(model => model, "ListPOC")
    </div>
</div>

}
else {
    @Html.DisplayFor(model => Model.alert)
    
}